.main-content {
  margin: 64px 0 0 80px;
}

.main-navbar {
  user-select: none;
}

/*a, a.Mui-hover, a.Mui-focus {
  color: #000000;
  text-decoration: none !important;
}*/

.login-container {
  text-align: center;
  box-shadow: 0px 0px 4px 1px rgba(39, 38, 38, 0.2);
  border-radius: 2%;
  width: 400px;
  padding: 20px 40px 40px 20px;
}

