#sidebar, .MuiBackdrop-root, .MuiDrawer-paper {
  top: 64px !important;
}

.icon-color {
  color: white;
}

.MuiList-padding {
  padding: 0 !important;
}

.sidebar-item {
  user-select: none;
  color: black;
  margin: 0;
  padding: 0;
}
